<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<link rel="stylesheet" href="/css/lista-cliente.css">
	<link type="text/css" href="../../css/volt.css" rel="stylesheet">

	<div th:insert="~{dashboard :: responsiveDonutec}"></div>

	<nav th:replace="~{dashboard :: voltDonutec}"></nav>

	<div class="corpo">
		<div class="buscar">
			<nav id="nav-sup" class="navbar navbar-light bg-light">
				
					<b class="navbar-brand">Lista de Clientes</b> 
					
					<form action="pesquisarCliente" method="post" class="d-flex">
						<input name="nomepesquisa" class="form-control me-2" type="text"
							id="consulta" placeholder="Informar o nome" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Buscar</button>
					</form>
					
					<a id="img-printer" href=""
						th:href="@{relatorio}" target="_blank" >
						<img src="/img/printer.svg" alt="icon-print" title="imprimir"
						class="icon-print" style="height: 30px;">
					</a>
			</nav>
		</div>

		<div class="tab-content" id="orders-table-tab-content">
			<div class="tab-pane fade show active" id="orders-all"
				role="tabpanel" aria-labelledby="orders-all-tab">
				<div class="app-card app-card-orders-table shadow-sm mb-5">
					<div class="app-card-body">
						<div class="table-responsive">
							<table class="table app-table-hover mb-0 text-left">
								<thead>
									<tr>
										<th class="cell">ID</th>
										<th class="cell">Cliente</th>
										<th class="cell">Endereco</th>
										<th class="cell">Contato:</th>
										<th class="cell">Tipo de contato:</th>
										<th class="cell">Data de nascimento:</th>
										<th class="cell"></th>
										<th class="cell"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="c : ${clientes}">
										<td th:text="${c.id}" class="cell"></td>
										<td th:text="${c.nome}" class="cell"></td>
										<td th:text="${c.endereco}" class="cell"></td>
										<td th:text="${c.contato}" class="cell"></td>
										<td th:text="${c.tipoContato}" class="cell"></td>
										<td
											th:text="${#temporals.format(c.dataNascimento, 'dd/MM/yyyy')}"
											class="cell"></td>
										<td class="cell"><a class="btn btn-primary"
											th:href=@{editar/(id=${c.id})}>Editar</a></td>
										<td class="cell">
										
											<button type="button" class="btn btn-danger"
												data-bs-toggle="modal"
												th:attr="data-bs-target='#staticBackdrop'+${c.id}">Excluir
											</button>
											
											<div class="modal fade"
												th:attr="id='staticBackdrop'+ ${c.id}"
												data-bs-backdrop="static" data-bs-keyboard="false"
												tabindex="-1" aria-labelledby="staticBackdropLabel"
												aria-hidden="true">
												<div class="modal-dialog" id="${c.id}">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="staticBackdropLabel">Excluir
																cliente</h5>
														</div>
														<div class="modal-body">Deseja realmente excluir o
															cliente selecionado?</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Fechar</button>
															<button class="btn btn-danger">
																<a style="color: #fff; text-decoration: none;"
																	th:href=@{deletar/(id=${c.id})}>Excluir</a>
															</button>
														</div>
													</div>
												</div>
											</div>
										</td>
									<tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
	
		<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>
</body>
</html>