<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">

</head>
<body>

	<link rel="stylesheet" href="/css/cadastroc.css">
	<link type="text/css" href="../../css/volt.css" rel="stylesheet">

	<div th:replace="~{dashboard :: voltDonutec}"></div>
	

	<div class="container">
		<div id="form-container">
			<p id="textcadastro">Entrada de Produtos</p>
			<div class="form-floating mb-3">

				<form action="#" th:object="${entrada}"
					th:action="@{/estoque/salvar}" method="post">
					
					
					<h5 th:text="${#dates.format(entrada.dataEntrada, 'dd/MM/yyyy - HH:mm')}"></h5>

					<span th:text="${mensagem}" th:if="${mensagem != null}"
						style="color: #FF0000;"></span> <br>

					<div class="form-row" th:object="${entradaItens}">
						<div class="form-group col-md-4">
							<label>Selecione o produto</label> <select th:field="*{produto}"
								, class="form-control">
								<option th:each="p : ${listaProdutos}" th:value="${p.id}"
									th:text="${p.nomeDonuts}"></option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label>Quantidade (+)</label> <input type="number"
								class="form-control" id="quantidade" placeholder="Informe a quantidade"
								th:field="*{quantidade}">
						</div>

						

						<div class="form-group col-md-12">
							<hr>
							<button type="submit" name="acao" th:value="itens"
								class="btn btn-success btn-lg">ADICIONAR</button>
						</div>

					</div>

					<div class="form-row">
						<div class="form-group col-md-12">
							<table class="table app-table-hover mb-0 text-left">
								<thead>
									<tr>
										
										<th class="cell">Descrição Produto</th>
										<th class="cell">Quantidade</th>
										
									</tr>
								</thead>
								<tbody>
									<tr th:each="itens : ${listaEntradaItens}">
										<td th:text="${itens.produto.nomeDonuts}" class="cell"></td>
										<td th:text="${itens.quantidade}" class="cell"></td>
										
										
										
									<tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="button">
						
						<input type="hidden" id="id" th:field="*{id}" name="id"/>
						
							<button type="submit" class="btn btn-success btn-lg" name="acao" th:value="salvar">SALVAR</button>
						
					</div> 
				</form>

			</div>
		</div>
	</div>


<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>
</body>
</html>