<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>
       <header th:insert="head :: header-fixo"></header>
        <!-- Header-->
        <header class="bg-dark">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Área de produtos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Escolha os produtos abaixo para adicionar à venda</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container">
	        <section class="py-5">
	           <div class="row">
	           		<div class="col-lg-4 col-md-6 mb-4" th:each="p : ${listaProdutos}">
	           			<div class="card h-100">
	           			<a href="#"><img class="img-fluid" th:src="@{produto/mostrarImagem/{imagem}(imagem=${p.nomeImagem})}" src=""></a>
	           			<div class="card-body">
	           				<h4 class="card-title">
	           					<a href="#">Item teste</a>
	           				</h4>
	           				<h5><span th:text="${p.nomeDonuts}"></span></h5>
	           				<p class="card-text"><span th:text="${p.valor}"></span></p>
	           			</div>
	           			
	           			<div class="card-footer">
	           				<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/adicionar-carrinho/{id}(id=${p.id})}">Comprar</a></div>
                            </div>
	           			</div>
	           			</div>
	           		</div>
	           
	           </div>
	        </section>
         </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
