<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Donutec</title>
<link rel="shortcut icon" type="imagex/png" href="/img/logo_1.ico">
<link type="text/css" href="../../css/volt.css" rel="stylesheet">

</head>

<body>
	<nav th:fragment="voltDonutec" id="sidebarMenu"
		class="sidebar d-lg-block bg-gray-800 text-white collapse"
		data-simplebar>
		<div class="sidebar-inner px-4 pt-3">
			
			<ul class="nav flex-column pt-3 pt-md-0">
				<li class="nav-item"><a href="../../home"
					class="nav-link d-flex align-items-center"> <span
						class="sidebar-icon"> <img src="/img/logo.png" height="55"
							width="55" alt="Volt Logo">
					</span> <span class="mt-1 ms-1 sidebar-text"><h3
								style="font-family: cursive">Donutec</h3></span>
				</a></li>

				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-app"> <span>
							<span class="sidebar-icon"> <svg class="icon icon-xs me-2"
									fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
										clip-rule="evenodd"></path></svg>
						</span> <span class="sidebar-text">Clientes</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list" id="submenu-app"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/cliente/cadastro}"> <span class="sidebar-text">Cadastrar
										 </span>
							</a></li>
						</ul>
					</div>
					<div class="multi-level collapse " role="list" id="submenu-app"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/cliente/lista}"> <span class="sidebar-text">Listar
										</span>
							</a></li>
						</ul>
					</div></li>
				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-pages"> <span>
							<span class="sidebar-icon"> <svg class="icon icon-xs me-2"
									fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
										clip-rule="evenodd"></path>
									<path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
						</span> <span class="sidebar-text">Produtos</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list" id="submenu-pages"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/produto/cadastro}"> <span class="sidebar-text">Cadastrar</span>
							</a></li>
							
							<li class="nav-item"><a class="nav-link"
								th:href="@{/produto/lista}"> <span class="sidebar-text">Listar</span>
							</a></li>
						</ul>
					</div></li>
					
				

				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-pages1">
						<span> <span class="sidebar-icon"> <svg
									class="icon icon-xs me-2" fill="currentColor"
									viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
										clip-rule="evenodd"></path>
									<path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
						</span> <span class="sidebar-text">Ingredientes</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list" id="submenu-pages1"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/ingredientes/cadastrar}"> <span
									class="sidebar-text">Cadastrar</span>
							</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/ingredientes/listar}"> <span
									class="sidebar-text">Listar</span>
							</a></li>
						</ul>
					</div></li>
					
				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-app1"> <span>
							<span class="sidebar-icon"> <svg class="icon icon-xs me-2"
									fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
										clip-rule="evenodd"></path></svg>
						</span> <span class="sidebar-text">Fornecedor</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list" id="submenu-app1"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/fornecedores/cadastrar}"> <span class="sidebar-text">Cadastrar
										 </span>
							</a></li>
						</ul>
					</div>
					<div class="multi-level collapse " role="list" id="submenu-app1"
						aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/fornecedores/listar}"> <span class="sidebar-text">Listar
										</span>
							</a></li>
						</ul>
					</div></li>	
				
				
				<li role="separator"
					class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
					
				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-components">
						<span> <span class="sidebar-icon"> <svg
									class="icon icon-xs me-2" fill="currentColor"
									viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path>
									<path fill-rule="evenodd"
										d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
										clip-rule="evenodd"></path></svg>
						</span> <span class="sidebar-text">Venda</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list"
						id="submenu-components" aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/venda}"> <span class="sidebar-text">Ponto
										de Venda</span>
							</a></li>

							<li class="nav-item "><a class="nav-link"
								th:href="@{/registro-venda}"> <span class="sidebar-text">Registro
										de vendas</span>
							</a></li>

						</ul>
					</div></li>	
					
				<li class="nav-item"><span
					class="nav-link  collapsed  d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" data-bs-target="#submenu-components1">
						<span> <span class="sidebar-icon"> <svg
									class="icon icon-xs me-2" fill="currentColor"
									viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path>
									<path fill-rule="evenodd"
										d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
										clip-rule="evenodd"></path></svg>
						</span> <span class="sidebar-text">Estoque</span>
					</span> <span class="link-arrow"> <svg class="icon icon-sm"
								fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path></svg>
					</span>
				</span>
					<div class="multi-level collapse " role="list"
						id="submenu-components1" aria-expanded="false">
						<ul class="flex-column nav">
							<li class="nav-item "><a class="nav-link"
								th:href="@{/entrada/cadastrar}"> <span class="sidebar-text">Entrada produtos</span>
							</a></li>

							<li class="nav-item "><a class="nav-link"
								href="#"> <span class="sidebar-text">Produtos estoque</span>
							</a></li>

						</ul>
					</div></li>
				<li role="separator"
					class="dropdown-divider mt-4 mb-3 border-gray-700"></li>		

			</ul>
		</div>
	</nav>

	<div th:align="center">
		<img src="/img/logo.png" alt="Image01" />
	</div>

	<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>

</body>

</html>
