<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">
</head>
<body>

	<link rel="stylesheet" href="/css/cadastrop.css">
	<link type="text/css" href="../../css/volt.css" rel="stylesheet">


	<div th:insert="~{dashboard :: responsiveDonutec}"></div>

	<nav th:replace="~{dashboard :: voltDonutec}"></nav>

	<div id="div-principal">
		<div id="form-container">
			<p id="textcadastro">CADASTRAR INGREDIENTE</p>
			<div class="form-floating mb-3">

				<form action="#" th:action="${ingrediente.id == null} ? @{/ingredientes/salvar} : @{/ingredientes/editar}"
					th:object="${ingrediente}" method="post">

					<div th:replace="fragments/alert"></div>

					<label>Nome: <span style="color: red;">*</span></label> 
					<input id="nome" name="nome" th:field="*{nome}" type="text" class="form-control"
					 th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''"> 
					<div class="invalid-feedback" th:errors="*{nome}"></div>
					
					<label>Preço: <span style="color: red;">*</span></label> 
					<input id="nome" name="nome" th:field="*{precoCompra}" type="text" class="form-control"
						data-mask="#.##0,00" data-mask-reverse="true" 
						th:classappend="${#fields.hasErrors('precoCompra')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{precoCompra}"></div>
						
					<label>Marca:</label> 
					<input id="marca" name="marca" th:field="*{marca}" type="text" class="form-control"> 	
					
					<label>Fabricante:</label> 
					<input id="marca" name="marca" th:field="*{fabricante}" type="text" class="form-control">
					
					
					<label>Qtde - Unidade de medida:</label> 
					<input id="marca" name="marca" th:field="*{unidadeMedida}" type="text" class="form-control">  	
								<br>	
								
								<!-- Button trigger modal -->
						<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
						  Produtos que deseja cadastrar esse ingredinte:
						</button>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Selecione os produtos que esse ingrediente vai ser utilizado.</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						        <div class="form-check" th:each="p : ${produtosLista}">
									  <input class="form-check-input" th:value="${p.id}"
											th:field="*{produtos}" name="produtos" type="checkbox" value="" id="flexCheckDefault">
									  <label class="form-check-label" for="flexCheckDefault">
									   	<span th:text="${p.nomeDonuts}"></span>
									  </label>
									</div>	
						      </div>
						      
						    </div>
						  </div>
						</div>
								
								
								
									
											
										
					<div class="button">
						<div>
							<button type="reset" class="btn btn-primary btn-lg">LIMPAR</button>
						</div>

						<div>
							<input type="hidden" id="id" th:field="*{id}" />
							<button type="submit" class="btn btn-success btn-lg">SALVAR</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>