<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">
<title>Donutec-Venda</title>

</head>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link type="text/css" href="../../css/volt.css" rel="stylesheet">
<link rel="shortcut icon" type="imagex/png" href="/img/logo_1.ico">

<style>

.tooltipjenry {
  position: relative;
  display: inline-block;
}

.tooltipjenry .tooltiptextjenry {
  visibility: hidden;
  width: 265px;
  background-color: lightblue;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltipjenry:hover .tooltiptextjenry {
  visibility: visible;
}

</style>
<body>

	<div th:replace="~{dashboard :: voltDonutec}"></div>

	<div class="container" style="margin-right: 75px">
		<!-- Header-->
		<header class="bg-light">
			<div class="container">
				<div class="text-center text-black">

					<h1 class="display-4 fw-bolder">Confirmar</h1>

				</div>
			</div>
		</header>
		<!-- Section-->

		<section class="py-5 container">
			<form action="/venda/finalizar/confirmar" method="post"
				th:object="${venda}">
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table table-striped ">
								<thead class="table-dark">
									<tr>
										<th scope="col"></th>
										<th scope="col">Produto</th>
										
										<th scope="col" class="text-right">Quantidade venda</th>
										<th scope="col" class="text-right">Valor Unitario</th>
										<th scope="col" class="text-right">Valor Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${listaItens}">
										<td><img src="https://dummyimage.com/50x50/55595c/fff" />
										</td>
										<td class="text-right" th:text="${item.produto.nomeDonuts}"></td>
										
										<td class="text-right"><span th:text="${item.quantidade}"></span></td>

										<td class="text-right" th:text="${item.valorUnitario}"></td>

										<td class="text-right" th:text="${item.valorTotal}"></td>

										<td class="text-right"></td>

									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>Sub-Total</td>
										<td class="text-right"><span
											th:text="${venda.valorTotal}"></span></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>Frete</td>
										<td class="text-right">0.00</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td><strong>Total</strong></td>
										<td class="text-right"><strong><span
												th:text="${venda.valorTotal}"></span></strong></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

					<div class="col mb-2">
						<div class="row">

							<div class="col-md-5">
								<label>Selecione a forma de pagamento</label> <select
									name="formaPagamento" class="form-select"
									aria-label="Default select example">

									<option value="Cartão">Cartão</option>
									<option value="Pix">Pix</option>
									<option value="Dinherio">Dinheiro</option>
								</select>
							</div>

							<div class="col-md-5">
								<label>Selecione o cliente</label> <select th:field="*{cliente}"
									name="formaPagamento" class="form-select"
									aria-label="Default select example">

									<option th:each="c : ${listaCliente}" th:value="${c.id}"
										th:text="${c.nome}"></option>
								
								</select>
							</div>
							
							<div class="col-md-2">
								<label>Data da venda</label>
								<input class="form-control text-center text-black" disabled="disabled" th:value="${#dates.format(venda.dataVenda, 'dd/MM/yyyy')}">
							</div>

							<p><p>
							
							<div class="row">
							
								<div class="col-md-8">
								
										<label>Endereço de entrega: <span style="margin-left: 10px">
										<div class="tooltipjenry"><span class="btn-warning btn-sm">!</span>
	 									<span class="tooltiptextjenry"><small>Se não informar nada neste campo, o endereço de entrega será o mesmo do endereço do cliente cadastrado.</small></span>
																	</div></span></label>
										
										<input
										id="enderecoAdicional" name="enderecoAdicional"
										th:field="*{enderecoAdicional}" type="text"
										class="form-control">
									
								</div>
								
								<p>
								<div class="col-md-12">
										<label for="exampleFormControlTextarea1" class="form-label">Observação:</label>
									<textarea class="form-control" name="observacao"
										id="exampleFormControlTextarea1" 
										th:field="*{observacao}"></textarea>
									
								</div>
								
								
							
							</div>
	
							<p>
							<hr>
							<p>		
							<div class="row">
								<div class="col-md-2 text-left">
									<a th:href="@{/venda/ponto-de-venda}" 
									class="btn btn-lg btn-block btn-primary text-uppercase">VOLTAR</a>
								</div>
								
								<div class="col-md-2">
									<button type="button" class="btn btn-lg btn-block btn-danger text-uppercase" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  									Cancelar
									</button>
									
								</div>
								
								<div class="col-md-8 text-end">
									<button type="submit"
									class="btn btn-lg btn-block btn-success text-uppercase">CONFIRMAR VENDA</button>
								</div>
							</div>
							
							
						</div>
					</div>

				</div>
			</form>
		</section>
		

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">Cancelar a venda?</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <b>Você perderá todas as informações referentes a esta venda.</b>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
		        <a class="btn btn-primary" th:href="@{/venda/cancelar-venda}">Confirmar</a>
		        
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<!-- Footer-->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Donutec &copy; Cianorte-Paraná 2022</p>
			</div>
		</footer>
	</div>
	<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>

</body>
</html>
