<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">
<title>Donutec-Venda</title>

</head>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link type="text/css" href="../../css/volt.css" rel="stylesheet">
<link rel="shortcut icon" type="imagex/png" href="/img/logo_1.ico">
<body>

	<div th:replace="~{dashboard :: voltDonutec}"></div>

	<div class="container" style="margin-right: 75px">
		<!-- Header-->
		<header class="bg-light">
			<div class="container">
				<div class="text-center text-black">

					<h1 class="display-4 fw-bolder">Confirmar</h1>

				</div>
			</div>
		</header>
		<!-- Section-->

		<section class="py-5 container">
			<form action="/finalizar/confirmar" method="post"
				th:object="${venda}">
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table table-striped ">
								<thead class="table-dark">
									<tr>
										<th scope="col"></th>
										<th scope="col">Product</th>
										<th scope="col">Available</th>
										<th scope="col" class="text-center">Quantity</th>
										<th scope="col" class="text-right">Valor Unitario</th>
										<th scope="col" class="text-right">Valor Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${listaItens}">
										<td><img src="https://dummyimage.com/50x50/55595c/fff" />
										</td>
										<td th:text="${item.produto.nomeDonuts}">Product Name
											Dada</td>
										<td>Em estoque</td>
										<td><span th:text="${item.quantidade}"></span></td>

										<td class="text-right" th:text="${item.valorUnitario}"></td>

										<td class="text-right" th:text="${item.valorTotal}"></td>

										<td class="text-right"></td>

									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>Sub-Total</td>
										<td class="text-right"><span
											th:text="${venda.valorTotal}"></span></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>Frete</td>
										<td class="text-right">0.00</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td><strong>Total</strong></td>
										<td class="text-right"><strong><span
												th:text="${venda.valorTotal}"></span></strong></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

					<div class="col mb-2">
						<div class="row">

							<div class="col-md-6">
								<label>Selecione a forma de pagamento</label> <select
									name="formaPagamento" class="form-select"
									aria-label="Default select example">

									<option value="Cartão">Cartão</option>
									<option value="Pix">Pix</option>
									<option value="Dinherio">Dinheiro</option>
								</select>
							</div>

							<div class="col-md-6">
								<label>Selecione o cliente</label> <select th:field="*{cliente}"
									name="formaPagamento" class="form-select"
									aria-label="Default select example">

									<option th:each="c : ${listaCliente}" th:value="${c.id}"
										th:text="${c.nome}"></option>
								
								</select>
							</div>

							<p>
							<p>


								<label for="exampleFormControlTextarea1" class="form-label">Observação:</label>
								<textarea class="form-control" name="observacao"
									id="exampleFormControlTextarea1" rows="3"
									th:field="*{observacao}"></textarea>
								<p><p>
				
									<label>Adicionar endereço de entrega?:</label> <input
									id="enderecoAdicional" name="enderecoAdicional"
									th:field="*{enderecoAdicional}" type="text"
									class="form-control">
							
							<div class="col-md-6 text-right">
								<button type="submit"
									class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
							</div>
							<hr>
						</div>
					</div>

				</div>
			</form>
		</section>
		<!-- Footer-->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Your
					Website 2022</p>
			</div>
		</footer>
	</div>
	<!-- Core -->
	<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Simplebar -->
	<script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

	<!-- Volt JS -->
	<script src="../../js/volt.js"></script>

</body>
</html>
