<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
<meta charset="utf-8">
</head>
<title>Ponto de Venda | DONUTEC</title>
<body>
	<link rel="stylesheet" href="/css/pdv.css">
	<link rel="stylesheet" href="/css/header.css">

	<header th:insert="head :: header-fixo"></header>

	<div class="container">
	
	<form th:action="@{/venda/salvar}" th:object="${venda}" method="POST">
		<label>Cliente</label>
		<select class="form-select" th:field="*{cliente}">
			<option th:each="c : ${clientes}" th:text="${c.nome}" th:value="${c.id}"></option>
		</select>
		
		<label>Produto</label>
		<select class="form-select" th:field="*{produtos}">
			<option th:each="p : ${produtos}" th:text="${p.nomeDonuts}" th:value="${p.id}"></option>
		</select>
		
		<input type="number" class="form-control" th:field="*{quantidade}">  
		<input type="submit" value="Registrar venda">
	</form>

	</div>
	
	<script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bootstrap/bootstrap.bundle.min.js"></script>
	
</body>
</html>